.w3-container.w3-white.min-height
  / .w3-bar.goldey.noprint.w3-row
  /   .w3-col.m6
  /     = link_to 'New Officer', new_officer_path, class:' w3-bar-item w3-button w3-rightbar lite-goldey'
  /     = link_to 'Show All', officers_path(all:true), class:' w3-bar-item w3-button  w3-rightbar lite-goldey'
  /   .w3-col.m6
  /     .w3-large.strong Officers
  - cmd_array = [["1950-51 Sol H. Morgan (??)","1950-51 Sol H Morgan.jpg"],
      ["1951-52 Lewis D. Ervin","1951-52 Lewis D Ervin.jpg"],
      ["1952-53 Ollen Humpries","1952-53 Ollen Humpries.jpg"],
      ["1953-54 Henry Ussrey (??)","1953-54 Henry Ussrey.jpg"],
      ["1954-55 William H. Moulds","1954-55 William H Moulds.jpg"],
      ["1955-56 M. P. Wilwee","1955-57 M P Wilwee.jpg"],
      ["1956-57 M. P. Wilwee","1955-57 M P Wilwee.jpg"],
      ["1957-58 Howard D. Bridges","1957-58 Howard D Bridges.jpg"],
      ["1958-59 Willis G. Burke","1958-59 Willis G Burke.jpg"],
      ["1959-60 Howard S. Means","1959-61 Howard S Means.jpg"],
      ["1960-61 Howard S. Means","1959-61 Howard S Means.jpg"],
      ["1961-62 Dennis S. Trussell","1961-63 Dennis S Trussell.jpg"],
      ["1962-63 Dennis S. Trussell","1961-63 Dennis S Trussell.jpg"],
      ["1963-64 Junior M. Arthur","1963-66 Junior M Arthur.jpg"],
      ["1964-65 Junior M. Arthur","1963-66 Junior M Arthur.jpg"],
      ["1965-66 Junior M. Arthur","1963-66 Junior M Arthur.jpg"],
      ["1966-67 Robert W. Tinsley","1966-67 Robert W Tinsley.jpg"],
      ["1967-68 A. L. Elkins","1967-69 A L Elkins.jpg"],
      ["1968-69 A. L. Elkins","1967-69 A L Elkins.jpg"],
      ["1969-70 Ray Lafellette","1969-71 Ray Lafellette.jpg"],
      ["1970-71 Ray Lafellette","1969-71 Ray Lafellette.jpg"],
      ["1971-72 Joseph L. Panell","1971-73 Joseph L Panell.jpg"],
      ["1972-73 Joseph L. Panell","1971-73 Joseph L Panell.jpg"],
      ["1973-74 Donald R. Garrett","1973-75 Donald R Garrett.jpg"],
      ["1974-75 Donald R. Garrett","1973-75 Donald R Garrett.jpg"],
      ["1975-76 L. J. Chapman","1975-76 L J Chapman.jpg"],
      ["1976-77 Joseph J. Willut","1976-78 Joseph J Willut.jpg"],
      ["1977-78 Joseph J. Willut","1976-78 Joseph J Willut.jpg"],
      ["1978-79 John W. Pitts","1978-79 John W Pitts.jpg"],
      ["1979-80 William A. Brown","1979-80 William A Brown.jpg"],
      ["1980-81 Bobby J. Foster (NR)","1980-81 Bobby J Foster.jpg"],
      ["1981-82 L.G. Culpper (NR)","1981-82 L G Culpper.jpg"],
      ["1982-83 Odis H. Cook (NR)","1982-83 Odis H Cook.jpg"],
      ["1983-84 Lacel T. Phillips (NR)","1983-84 Lacel T Phillips.jpg"],
      ["1984-85 NO RECORD","Picture Missing"],
      ["1985-86 NO RECORD","Picture Missing"],
      ["1986-87 NO RECORD","Picture Missing"],
      ["1987-88 Billy A. Clark (NR)","1990-91 Billy A Clark .jpg"],
      ["1988-89 NO RECORD","Picture Missing"],
      ["1989-90 NO RECORD","Picture Missing"],
      ["1990-91 Billy A. Clark ","1990-91 Billy A Clark .jpg"],
      ["1991-92 Gordon M. Bullock","1992-95 Gordon M Bullock.jpg"],
      ["1992-93 Billy A. Clark ","1990-91 Billy A Clark .jpg"],
      ["1993-94 Gordon M. Bullock","1992-95 Gordon M Bullock.jpg"],
      ["1994-95 Gordon M. Bullock","1992-95 Gordon M Bullock.jpg"],
      ["1995-96 James H. Brown","1995-96 James H Brown.jpg"],
      ["1996-97 Horace O. Franklin","1996-97 Horace O Bodine.jpg"],
      ["1997-98 Raymond D. Bodine","1997-99 Raymond D Franklin.jpg"],
      ["1998-99 Raymond D. Franklin","1997-99 Raymond D Franklin.jpg"],
      ["1999-20 Melvin C. Waddell","Picture Missing"],
      ["2000-01 Raymond D. Franklin","1997-99 Raymond D Franklin.jpg"],
      ["2001-02 Howard Harp, Sr.","Picture Missing"],
      ["2002-03 Howard Harp, Sr.","Picture Missing"],
      ["2003-04 NO RECORD","Picture Missing"],
      ["2004-05 Howard Harp, Sr.","Picture Missing"],
      ["2005-06 Ira Hand","Picture Missing"],
      ["2006-07 Howard Harp, Sr.","Picture Missing"],
      ["2007-08 Richard Schafer","Picture Missing"],
      ["2008-09 Howard Harp, Sr.","Picture Missing"],
      ["2009-10 Howard Harp, Sr.","Picture Missing"],
      ["2010-11 Tina Bush (DSQ)","Picture Missing"],
      ["2011-12 Tina Bush (DSQ)","Picture Missing"],
      ["2011-12 Dan Brown","Picture Missing"],
      ["2012-13 Conrad Inamorati","Picture Missing"],
      ["2012-13 Johnny Holmes","2012-13 Johnny Holmes.jpg"],
      ["2013-14 Kenneth Noojin","2013-14 Kenneth Noojin.jpg"],
      ["2014-15 Kenneth Noojin","2013-14 Kenneth Noojin.jpg"],
      ["2014-15 David LaPoint","2015-18 David LaPoint.jpg"],
      ["2015-16 David LaPoint","2015-18 David LaPoint.jpg"],
      ["2016-17 David LaPoint","2015-18 David LaPoint.jpg"],
      ["2017-18 David LaPoint","2015-18 David LaPoint.jpg"],
      ["2018-19 Joyce Shelley","Picture Missing"],
      ["2019-20 Joyce Shelley","Picture Missing"],
      ["2020-21 Joyce Shelley","Picture Missing"]]


  p VFW Post 8600 Commanders
  p
    i This is a combination of VFW records on Post commanders and pictures that were in the dance hall (it was unfinished business for a looong time!.) Many Commanders were not reported to national and show up as NO RECORD. If there is no picture, it will say 'No Picture'. There were a few pictures without tags that we guessed who they were, but may be wrong. They will have a (??) after their name.

  .w3-row
    - cmd_array.each do |a|
      .w3-col.s6.m3[style="height:310px;"]
        - if a[1] == "Picture Missing"
          =image_tag("cmdr/vfw-logo3.png",width:200)
          h5.strong Picture Missing

          / =image_tag("cmdr/vfw-logo3.png",width:200)

        - else
          =image_tag("cmdr/#{a[1]}",width:200)
        div 
          i = a[0]

    / .w3-col.s3
    /   =image_tag('cmdr/1954-55_William_H._Moulds.jpg',width:200)
    /   div 
    /     i Some name about pic
    / .w3-col.s3
    /   =image_tag('cmdr/1959-61 Howard S Means.jpg',width:200)
    /   div 
    /     i Some name about pic
    / .w3-col.s3
    /   =image_tag('cmdr/1953-54.jpg',width:200)
    /   div 
    /     i Some name about pic
    / .w3-col.s3
    /   =image_tag('cmdr/1953-54.jpg',width:200)
    /   div 
    /     i Some name about pic


