turbo-frame-tag[id="topic"]
  .strong Officers
  p Officers is another optional feature. Ever try remembering who the Two year Trustee is and you don't have an VFW Officers list available? This allows you to keep it on-line.

  P It keeps track of current and past officers. A picture might be better

  <table class="w3-table-all"><tbody>
  <tr class="malt"><th>Member</th><th>Position</th><th>From date</th><th>To date</th><th>Current</th></tr>
  <tr><td>LaPoint, David R</td><td>Commander</td><td>2014-08-22</td><td>2018-06-10</td><td>false</td></tr>
  <tr><td>Holmes, Johnny M</td><td>Commander</td><td>2012-06-01</td><td>2013-06-01</td><td>false</td></tr>
  <tr><td>Noojin, Kenneth D</td><td>Commander</td><td>2013-06-01</td><td>2014-08-22</td><td>false</td></tr>
  <tr><td>Shelley, Joyce D</td><td>Commander</td><td>2018-06-10</td><td></td><td>true</td></tr>
  <tr><td>LaPoint, David R</td><td>Senior Vice-Commander</td><td>2018-06-10</td><td>2018-12-27</td><td>false</td></tr>
  <tr><td>Thornton, Danny M</td><td>Senior Vice-Commander</td><td>2018-12-27</td><td></td><td>true</td></tbody></table>