<div class=" bg-white">
  <div class="half" data-controller="effect" >
    <p><a href="#" data-action="effect#highlight" data-effect-target="link" data-link-id="1">Link 1</a></p>
    <p><a href="#" data-action="effect#highlight" data-effect-target="link" data-link-id="2">Link 2</a></p>
    <p><a href="#" data-action="effect#highlight" data-effect-target="link" data-link-id="3">Link 3</a></p>
    <p><a href="#" data-action="effect#highlight" data-effect-target="link" data-link-id="4">Link 4</a></p>
    <p data-effect-target="element" data-element-id="4">Element 4</p>
    <p data-effect-target="element" data-element-id="3">Element 3</p>
    <p data-effect-target="element" data-element-id="1">Element 1</p>
    <p data-effect-target="element" data-element-id="2">Element 2</p>
  </div>

  <div class="half" data-controller="effect">
    <p><a href="#" data-action="effect#highlight" data-effect-target="link" data-link-id="3">Link 3</a></p>
    <p><a href="#" data-action="effect#highlight" data-effect-target="link" data-link-id="4">Link 4</a></p>
    <p><a href="#" data-action="effect#highlight" data-effect-target="link" data-link-id="5">Link 5</a></p>
    <p><a href="#" data-action="effect#highlight" data-effect-target="link" data-link-id="6">Link 6</a></p>
    <p data-effect-target="element" data-element-id="4">Element 4</p>
    <p data-effect-target="element" data-element-id="5">Element 5</p>
    <p data-effect-target="element" data-element-id="6">Element 6</p>
    <p data-effect-target="element" data-element-id="3">Element 3</p>
  </div>
</div>