.strong Access
p There are two ways to access MyVFW.us. As a Visitor or as a User. When the Users and Posts were imported from VFW OMS memstats, A Post and a Post User were created. For the Demo purposes, this provides unsecured access. In the real world, there would be a SignUp process.
ul
  li Visitor. You can visit any post and be logged in as a Visitor by going to the URL http://myvfw.us/postxxxx, where xxxx is the post number. There is really nothing in any other post other than post8600.
  li User. The Demo username for each post is postxxxx, and the password is postxxxx_qm. For Districts the username is aldistx and the password is aldistx_qm. For Department the username is aldept and password aldept_qm

.strong Privileges 

p MyVFW.us uses a role based access privilege. Each demo user created on import was assigned a privilege 'admin' which allow them to update most information. A visitor has no privileges and can only see certain things. There also a role 'super' who can access Users and a few other things.
p The admin user, even in the demo, can change their username and password and create new users. There are other roles not implemened in the demo, 'member' and 'trustee'. Members could write articles and access markups - that was for members who said they'd keep the site up to date that never did!



