@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
.btn {
  @apply py-2 px-4 m-1 bg-blue-200;
}

/*.button_to {
  display: inline-block;
}
*/.button_to :hover{
}
