ul, ul.slim, ul.classic {
  list-style-type: disc;
  padding-left: 1rem;
  margin-left: 1rem; }

.w100 {
  width: 100% !important; }

.w10p {
  width: 10%; }

.w12p {
  width: 12%; }

.w15p {
  width: 15%; }

.w20p {
  width: 20%; }

.w25p {
  width: 25%; }

.w05p {
  width: 5%; }

.w30p {
  width: 30% !important; }

.w40p {
  width: 40%; }

.w50p {
  width: 50%; }

.w70p {
  width: 70% !important; }

.w80p {
  width: 80%; }

.malty {
  background-color: #991A1E;
  color: #ddd; }

.lgoldey, .lite-goldey {
  background-color: #cabc98;
  color: #333; }

.goldey {
  background-color: #A79055;
  color: #f8f8f8; }

.strong {
  font-weight: bold; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

body {
  background-color: #0F3E61; }

body.plain {
  background-color: white; }

.sticky-menu {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 2; }

.my-pad-left-right {
  padding: 0 12px; }

.my-text-right {
  text-align: right; }

.min-height-80, .min-height {
  min-height: 80vh; }

.print-page {
  height: 11in;
  width: 8.5in;
  margin: 24px; }

.print-plain {
  height: 11in;
  width: 8.5in; }

a {
  text-decoration: none; }

.box-center {
  margin-top: 20vh;
  border: solid 1px #bbb;
  padding: 2rem;
  background-color: white; }

.dark-blue {
  background-color: #0F3E61; }

@media print {
  .page-break {
    page-break-after: always !important; }
  .top, .header {
    display: none; }
  fieldset {
    border: none; }
  body {
    font-size: 11pt !important;
    background-color: #fff; }
  .print-medium {
    page-break-inside: avoid;
    font-size: 1.4rem; }
    .print-medium table td, .print-medium table th {
      font-size: 1.0rem; }
  .print-plain {
    page-break-inside: avoid;
    font-size: 1.6rem; }
    .print-plain table td, .print-plain table th {
      font-size: 1.0rem; }
  a[href]:after {
    content: none !important; }
  .noprint {
    display: none !important; } }

span.link-bar-header {
  font-weight: bold;
  display: inline-block;
  margin-right: 24px;
  padding-top: 4px;
  color: black; }

table.small-table {
  border-collapse: collapse;
  width: 100%;
  margin: auto; }
  table.small-table th {
    text-align: left; }
  table.small-table td.under {
    text-decoration: underline; }

.w3-bar button {
  margin: 2px; }

h5 {
  margin-top: 8px;
  margin-bottom: 8px; }

.table-cell-borders td, .table-cell-borders th {
  border: solid #333 1px; }

table.tr-bb tr {
  border-bottom: 1px solid black; }

.w3-padding-bottom {
  padding-bottom: 8px !important; }

.markdown a {
  color: blue; }

.markdown a:hover {
  color: #991A1E; }

.action-bar a {
  color: blue;
  padding-right: 8px; }

.action-bar a:hover {
  color: #991A1E; }

.link {
  color: blue; }

.link:hover {
  color: #991A1E; }

.form-inputs .input label {
  display: inline-block;
  padding-right: 12px;
  width: 40%;
  height: 24px;
  background-color: #eee;
  text-align: right; }

.form-row label {
  display: inline-block;
  padding-right: 12px;
  width: 40%;
  height: 24px;
  background-color: #eee;
  text-align: right; }

.form-row input, .form-row span {
  display: inline-block;
  width: 55%;
  height: 24px; }

.markdown, .print {
  width: 9.0in;
  margin: 0 auto;
  font-size: 1.0rem; }
  .markdown body, .print body {
    background-color: inherit; }
  .markdown p, .print p {
    line-height: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem; }
  .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6, .print h1, .print h2, .print h3, .print h4, .print h5, .print h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0; }
  .markdown li, .print li {
    font-size: 0.9rem; }
  .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6, .markdown caption, .print h1, .print h2, .print h3, .print h4, .print h5, .print h6, .print caption {
    font-size: 1.1rem;
    font-weight: bold; }
  .markdown td, .markdown th, .print td, .print th {
    font-size: 0.7rem;
    padding: 0.4rem;
    margin: 0;
    line-height: 1rem;
    border: solid 1px #ccc; }
